edge >= 15
chrome >= 51
and_chr >= 113
safari >= 10
ios_saf >= 10
firefox >= 54
and_ff >= 113
opera >= 38
op_mob >= 73
not op_mini all
not ie <= 11
not ie_mob <= 11
android >= 113
samsung >= 5
and_uc >= 13.4
and_qq >= 13.1
baidu >= 13.18
kaios >= 3.1
